<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mtgproject.spring.com.mtg1project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //CameraActivity
        <activity android:name=".CameraActivity"></activity>
        //CoinActivity
        <activity android:name=".CoinActivity"></activity>
        //PlayActivity
        <activity android:name=".PlayActivity"></activity>
        //TradeActivity
        <activity android:name=".TradeActivity"></activity>

    </application>

    //Kamera einfügen
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

</manifest>